.cards {
}
.cards__container {
}
.cards__container-title {
  margin-top: 77px;
  margin-bottom: 64px;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
  width: 346px;
  margin: 76px auto;
}
.cards__container-card {
  position: relative;
  width: 330px;
  height: 525px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 0 auto 64px;
  padding: 228px 23px 24px;
  box-sizing: border-box;
  &:last-child {
    margin-bottom: 0;
  }
  &.card__build {
    padding: 228px 11px 24px;
  }
}
.card__img {
  position: absolute;

  &.img__bring {
    top: -20px;
    left: 13%;
  }
  &.img__make {
    top: 48px;
    left: 74px;
  }
  &.img__build {
    top: 49px;
    left: 87px;
  }
}
.card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: #1f3f68;
  opacity: 0.6;
  margin: 16px 0 28px;
}
.card__button {
  display: flex;
  align-items: center;
}
.card__link {
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
}
.kard__svg {
  width: 24px;
  height: 24px;
  margin-left: 9px;
}
.cards__forma {
  box-sizing: border-box;
  width: 346px;
  height: 820px;
  margin: 96px auto 140px;
  padding: 56px 45px 43px 46px;
  background: var(--primary-white-color);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.cards__forma-title {
  margin-bottom: 40px;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.29em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
label {
  display: block;
  margin-bottom: 33px;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  small {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.06em;
    color: #888888;
  }
  &:invalid small {
    color: #b82e2e;
  }
}
.cards__forma-container {
}
.container__input {
  box-sizing: border-box;
  display: block;
  margin-top: 8px;
  padding: 7px 16px;
  width: 255px;
  height: 40px;
  background: #eaf3fa;
  border: none;
  border-radius: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: #5a768c;
  outline: 0;
  &:valid {
    box-shadow: 0px 2px 16px #a3c9f5;
  }
  &:hover {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0px 2px 16px #a3c9f5;
  }
  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
    background: #fbfdfe;
    box-shadow: 0px 2px 16px #a3c9f5;
    color: #333333;
  }
  &:invalid {
    box-shadow: 0px 2px 16px #f58a8a;
  }
  &:invalid ~ small {
    color: #b82e2e;
  }
}

.cards__forma__cheskbox {
  display: flex;
  margin: 55px auto 44px;
  width: 255px;
  height: 77px;

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
  }
}
.option-input {
}

input[type="checkbox"] {
  height: 0;
  width: 0;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.23, 1);
  p {
    width: 215px;
  }
}

input[type="checkbox"] + label > span {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  width: 28px;
  height: 28px;
  background: #deecf7;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type="checkbox"] + label:hover,
input[type="checkbox"]:focus + label {
  color: var(--accent-color);
}
input[type="checkbox"]:hover + label > span,
input[type="checkbox"]:focus + label > span {
  background: #ffffff;
}
input[type="checkbox"]:checked + label > ins {
  height: 100%;
}

input[type="checkbox"]:checked + label > span {
  position: relative;
  border: 2px solid var(--primary-white-color);
  background: var(--primary-title-color);
  animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type="checkbox"]:checked + label > span:before {
  content: "";
  position: absolute;
  top: 34%;
  left: 27%;
  transform: translate(-50%, -50%);
  border-right: 3px solid var(--primary-white-color);
  border-bottom: 3px solid var(--primary-white-color);
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: var(--primary-white-color);
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  33% {
    width: 0.2em;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  100% {
    width: 0.2em;
    height: 0.5em;
    border-color: var(--primary-white-color);
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
  }
}
.cards__forma-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 255px;
  height: 56px;
  background: var(--button-color);
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 8px;
  border: none;
}
.button__text {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
