.prefooter {
  //   height: 646px;
  padding: 91px 0 52px;
  background: var(--background-color);
  border-radius: 0px 200px 0px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.prefooter__title {
  margin: 0 auto 38px;
  width: 279px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
}
.prefooter__text {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.06em;
  color: #ffffff;
  opacity: 0.6;
}
.prefooter__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 56px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 108%;
  text-align: center;
  letter-spacing: 0.08em;
  background: var(--button-color);
  border-radius: 10px;
  color: var(--primary-white-color);
}
