nav {
  position: relative;
  margin-top: 40px;
  margin-bottom: 46px;
  a {
    width: 48px;
    height: 48px;
  }
}
.logo {
  width: 48px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  nav {
    margin-bottom: 61px;
  }
}

@media screen and (min-width: 1140px) {
}
